.containerHome {
  min-height: calc(100vh - 172px);
  overflow: auto;
}

.table {
  margin-top: 40px;
}

.del {
  width: 25px;
  height: 25px;
  color: red;
  cursor: pointer;
  margin-right: 5px;
}

.put {
  width: 25px;
  height: 25px;
  color: blue;
  cursor: pointer;
  margin-left: 5px;
}